<!--<p-tabView>-->
<!--  <p-tabPanel header="Nutrition Log">-->
<!--    Content 1-->
<!--  </p-tabPanel>-->
<!--  <p-tabPanel header="Workout Log">-->
<!--    Content 2-->
<!--  </p-tabPanel>-->
<!--</p-tabView>-->

<form [formGroup]="fitnessEntryForm" (ngSubmit)="addNewEntry()">
  <h1 class="text-center">Add New Fitness Entry</h1>
  <div class="field">
    <label class="block" for="currentWeight">Current Weight:</label>
    <input id="currentWeight" type="text" pInputText formControlName="currentWeight">
  </div>
  <div class="field">
    <label class="block" for="totalCalories">Total Calories:</label>
    <input id="totalCalories" type="text" pInputText formControlName="totalCalories">
  </div>
  <div class="field">
    <label class="block" for="totalProtein">Total Protein:</label>
    <input id="totalProtein" type="text" pInputText formControlName="totalProtein">
  </div>
  <div class="field">
    <label class="block" for="totalCarbs">Total Carbs:</label>
    <input id="totalCarbs" type="text" pInputText formControlName="totalCarbs">
  </div>
  <div class="field">
    <label class="block" for="totalFats">Total Fats:</label>
    <input id="totalFats" type="text" pInputText formControlName="totalFats">
  </div>
  <div class="mt-8 flex flex-row align-items-center">
    <h3 class="mr-2">Workout Log</h3>
    <p-button styleClass="p-button-sm" (click)="addExercise()" label="Add Exercise" icon="pi pi-plus" iconPos="left"></p-button>
  </div>
  <hr>
  <div>
    <h3 class="text-center">Exercises</h3>

    <div formArrayName="exercises" class="mt-4" *ngFor="let exercise of exercises().controls; let i=index">
      <div class="flex justify-content-evenly" [formGroupName]="i">
      <!-- The repeated exercise template -->
        <div class="field">
          <label class="block" for="exercise-{{ i }}">Exercise Name:</label>
          <input formControlName="name" pInputText id="exercise-{{ i }}" type="text">
        </div>
        <div class="field">
          <label class="block" for="exercise-{{ i }}">Sets:</label>
          <input formControlName="sets" pInputText id="exercise-{{ i }}" type="text">
        </div>
        <div class="field">
          <label class="block" for="exercise-{{ i }}">Reps:</label>
          <input formControlName="reps" pInputText id="exercise-{{ i }}" type="text">
        </div>
        <div class="field">
          <label class="block" for="exercise-{{ i }}">Duration:</label>
          <input formControlName="duration" pInputText id="exercise-{{ i }}" type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 flex flex-row align-items-center">
    <h3 class="mr-2">Nutrition Log</h3>
    <p-button styleClass="p-button-sm" (click)="addMeal()" label="Add Meal" icon="pi pi-plus" iconPos="left"></p-button>
  </div>
  <hr>
  <div>
    <h3 class="text-center">Meals</h3>

    <div formArrayName="meals" class="mt-4" *ngFor="let meal of meals().controls; let mealIndex=index">
      <div class="flex justify-content-evenly align-items-center" [formGroupName]="mealIndex">
        <!-- The repeated exercise template -->
        <div class="mr-1">
          <p-button styleClass="p-button-sm" (click)="addFood(mealIndex)" label="Add Food" icon="pi pi-plus" iconPos="left"></p-button>
        </div>
        <div class="field">
          <label class="block" for="meal-{{ mealIndex }}">Meal Name:</label>
          <input formControlName="name" pInputText id="meal-{{ mealIndex }}" type="text">
        </div>
        <div class="field">
          <label class="block" for="meal-{{ mealIndex }}">Calories:</label>
          <input formControlName="calories" pInputText id="meal-{{ mealIndex }}" type="text">
        </div>
      </div>
        <div formArrayName="foods" class="mt-4" *ngFor="let food of foods(mealIndex).controls; let foodIndex=index">
          <div class="flex justify-content-evenly" [formGroupName]="foodIndex">
            <!-- The repeated exercise template -->
            <div class="field">
              <label class="block" for="food-{{ foodIndex }}">Name:</label>
              <input formControlName="name" pInputText id="food-{{ foodIndex }}" type="text">
            </div>
            <div class="field">
              <label class="block" for="food-{{ foodIndex }}">Servings:</label>
              <input formControlName="servings" pInputText id="food-{{ foodIndex }}" type="text">
            </div>
            <div class="field">
              <label class="block" for="food-{{ foodIndex }}">Protein:</label>
              <input formControlName="protein" pInputText id="food-{{ foodIndex }}" type="text">
            </div>
            <div class="field">
              <label class="block" for="food-{{ foodIndex }}">Carbs:</label>
              <input formControlName="carbs" pInputText id="food-{{ foodIndex }}" type="text">
            </div>
            <div class="field">
              <label class="block" for="food-{{ foodIndex }}">Fats:</label>
              <input formControlName="fats" pInputText id="food-{{ foodIndex }}" type="text">
            </div>
            <div class="field">
              <label class="block" for="food-{{ foodIndex }}">Calories:</label>
              <input formControlName="calories" pInputText id="food-{{ foodIndex }}" type="text">
            </div>
          </div>
        </div>
      </div>
  </div>
  <p-button type="submit" styleClass="p-button-sm" label="Submit"></p-button>
</form>
<router-outlet></router-outlet>
